<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/asset-icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Devitruvius</title>
</head>

<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/img/perfil.jpeg" alt="Foto de perfil Devitruvius">
            <h1>Gabriel Vasconcelos</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/devitruvius/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/devitruvius">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://www.youtube.com/@dev.vitruvius">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-house"
                            aria-hidden="true"></i> Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-person" aria-hidden="true"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-list-check" aria-hidden="true"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-file-earmark" aria-hidden="true"></i> Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-collection" aria-hidden="true"></i> Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-envelope" aria-hidden="true"></i> Contato</a>
                </li>
            </ul>
        </nav>
    </aside>

    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div
                class="container col-md-5 d-flex justify-content-center align-items-center flex-column video-container">
                <h2 class="text-white text-shadow">Devitruvius</h2>
                <span id="subtitle" class="text-white text-shadow">Python Developer</span>
                <div class="video-overlay"></div>
                <video autoplay muted loop class="video-background">
                    <source src="../static/img/cryptocode-matrix-animation.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>

            <div class="interactive-arrow">
                <i class="bi bi-arrow-down d-flex justify-content-center align-items-center flex-column text-white fs-3"
                    aria-hidden="true"></i>
            </div>
        </section>
        <section class="container mt-5" id="sobre">
            <div class="row w-100">
                <div class="col-md-12">
                    <h2 class="pt-3">Sobre</h2>
                    <p>
                        Estudante de Análise e Desenvolvimento de Sistemas pela UFCA em busca de me tornar um Arquiteto
                        de Software experiente. Acredito no poder transformador do software e me dedico a aprimorar
                        minhas habilidades para alcançar esse objetivo.

                        Possuo base sólida em Python, lógica de programação, estrutura de dados e algoritmos. Também
                        possuo expertise em Engenharia de Requisitos, seguindo as melhores práticas da IEEE Std 830, o
                        que me permite analisar e modelar sistemas de forma abrangente, desde a concepção até a
                        implementação.

                        Além disso, sou Game Programmer, empenhado no desenvolvimento do meu primeiro RPG tático
                        utilizando a Godot Engine, experiência que está me permitindo aprimorar minhas habilidades em
                        design, lógica de programação e gerenciamento de projetos.

                        Com dedicação, trabalho duro e uma mente aberta, busco contribuir para o desenvolvimento de
                        soluções transformadoras.
                    </p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid" src="../static/img/background-profile.png" alt="Foto do Devitruvius">
                </div>
                <div class="col-md-8">
                    <h3>Voluntariado</h3>
                    <p>
                        Atualmente sou voluntário no Grupo de Estudos em Sistemas de Informação e Inovação
                        Digital (GESID) da UFCA, contribuindo para um Projeto de Extensão envolvendo o desenvolvimento
                        de uma API pública utilizando o Flask framework. Essa API deve facilitar o acesso à
                        informação para pesquisadores, estudantes e profissionais da área de software, permitindo a
                        consulta de artigos científicos relevantes.
                    </p>
                </div>
            </div>
        </section>
    </main>


    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>